
.about {
  background-color: $dark-blue;
  color: $white;
}




.team {
  //@include test;
  background-image: url('img/raster/compressed/cater-bg.jpg');



  .wrapper {
    //@include test;
    //@include justifyed;
    position: relative;
    padding: 70px 0 50px;
  }
  
  img {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .col_2 {
    //@include test;
    width: 60%;
    margin-left: 30%;
    margin-right: 10%;
    font-size: 18px;
  }

  .meet {
    @extend %pill;
    @extend %red-pill;
    padding: .6em 3em;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 24px auto;
  }

  h1 {
    @include prefixer(mask-image, url('img/raster/compressed/text-texture.png'), webkit spec);
    font-family: $header;
    font-size: 62px;
    color: $white;
    margin: 0;
    opacity: .8;
    text-transform: uppercase;
    margin-top: -.1em;
    font-weight: $book;
    line-height: .9em;
  }

}














