


.site-footer {
  background-color: shade($dark-blue, 10% * 4);
  overflow: hidden;

  .wrapper {
    //@include test;
    @include justifyed;
    margin: 20px auto 50px;
  }

  .logo {
    //@include test;
    @include filter(saturate(0%));
    height: 60px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    opacity: .4;

    &:hover {
      @include filter(saturate(100%));
      opacity: 1;
    }
  }


  .meta {
    display: inline-block;
    font-size: 18px;
    color: $light-blue;
    width: 48%;
    vertical-align: middle;
    padding: 0 24px;

    @include breakpoint($sm-down) {
      width: 100%;
      padding: 12px 24px;
    }

    p {
      margin: 0;
    }

  } // meta



  small {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    color: $light-blue;
  }

  .line {
    //@include test;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    margin: 24px 0;
    display: inline-block;
    width: 100%;

    &::before,
    &::after {
      @include calc(width, '(100% - 25px - 12px) / 2');
      content: '';
      display: inline-block;
      height: 1px;
      background-color: $light-blue;
    }

    svg {
      @include size(25px);
      margin: 0 12px;
      fill: $light-blue;
      vertical-align: middle;
    }

  }

}


