.site-header {

  background: url('img/raster/compressed/bar-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  line-height: 0;
  font-size: 0;

  svg {
    width: 247px;
    height: 30px;

    @include breakpoint($md-up) {
      height: 40px;
    }
  }

}
