
.item_single {
  //@include test;
  position: relative;

  .close {
    //@include test;
    @include size(23px);
    @include transition (all .2s ease-in-out);
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    color: $red;
    z-index: 100;
    background-color: $white;
    border-radius: 30px;


    &:hover {
      color: shade($red, 20%);
    }

    svg {
      @include size(24px);
      margin: 0;
      padding: 0;
      fill: currentColor;
    }
  }

  .money_shot {
    height: 400px;
    background-position: center center;
    background-size: cover;
    border-bottom: 1px solid $light-blue;

    @include breakpoint($sm-down) {
      height: 0;
      background-image: none;
      display: none;
    }
  }

  .wrapper {
    @include clearfix;
    @include padding(48px null 48px null);

    @include breakpoint($sm-down) {
      @include padding(24px null 24px null);
    }
  }

  .col_1 {
    //@include test;
    width: 48%;
    display: inline-block;

    @include breakpoint($sm-down) {
      width: 100%;
    }

    h1 {
      font-size: 20px;
      font-weight: $book;
      text-align: center;
      display: block;
      margin: 0;
    }

    h2 {
      font-size: 34px;
      font-family: $header;
      font-weight: $medium;
      text-transform: uppercase;
      text-align: center;
      display: block;
      margin: 0;
    }

    .content {
      //@include test;
      font-size: 18px;
      max-width: 400px;
      margin: 0 auto;
    }



    h3 {
      font-size: 20px;
      text-transform: uppercase;
      font-family: $header;
      font-weight: $book;
      text-align: center;
      display: block;
      margin: 0;
    }

    .table {
      display: table;
      width: 100%;
    }

    .cell {
      //@include test;
      display: table-cell;
      padding: 12px;

      small {
        font-size: 10px;
        font-weight: $medium;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 0;
      }

      strong {
        font-size: 24px;
        text-transform: uppercase;
        font-family: $header;
        font-weight: $light;
        text-align: center;
        display: block;
        margin: 0;
      }
    } //cell


    .serving {
      //@include test;
      display: block;
      text-align: center;
      margin: 12px 0 24px;

      small {
        font-size: 12px;
        font-weight: $medium;
        text-transform: uppercase;
      }

      strong {
        font-size: 15px;
        font-family: $header;
        font-weight: $light;
      }

    } // serving


    .price {
      //@include test;
      max-width: 400px;
      margin: 0 auto 48px;

      span {
        display: block;
      }

      small {
        font-size: 12px;
        font-weight: $medium;
        text-transform: uppercase;
      }

      strong {
        font-size: 17px;
        font-family: $header;
        font-weight: $light;
      }
    }

  } // col 1


  .col_2 {
    //@include test;
    width: 48%;
    vertical-align: top;
    display: inline-block;
    float: right;

    @include breakpoint($sm-down) {
      width: 100%;
      float: none;
      margin-bottom: 48px;
    }

    img {
      display: block;
      max-width: 300px;
      margin: 0 auto;
    }


  } // col 2

}
