
.hero-section {
  @include background-image(linear-gradient(left top, left bottom, color-stop(0%, $white), color-stop(55%, $white), color-stop(55%, $yellow), color-stop(100%, $yellow)));
  position: relative;
  line-height: 0;
  font-size: 0;

  h2 {
    @include alignment(absolute, center);
    font-family: $display;
    font-size: 75px;
    color: $white;
    line-height: 82px;
    text-shadow: 0 1px 3px $black;
    width: 100%;
    margin: 0;
    text-align: center;

    span {

      display: block;
      font-size: 20px;
      color: $yellow;
      line-height: 23px;

    }

  }

}


div.team-section {


  margin-top: 90px;
  background-color: $dark-blue;
  width: 100%;
  position: relative;
  padding: 38px 0 38px 155px;
  text-align: left;

  img {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 137px;

  }

  h2 {

    font-size: 25px;
    line-height: 30px;
    padding: 0;
    border: 0;

  }

  p {

    margin-bottom: 0;
    font-style: italic;

  }

  .team-copy {

    display: inline-block;

  }

  a {

    display: inline-block;

    font-size: 15px;
    color: $white;
    line-height: 21px;
    background-color: $red;
    padding: 8px 50px;
    border-radius: 40px;
    float: right;
    margin-right: 37px;
    margin-top: 27px;
    border: solid 1px transparent;

    &:hover {

      background: $white;
      border: solid 1px $red;
      color: $red;

    }

  }

}


