// Colours
// -------------------------

$light-blue: #003da5;
$dark-blue: #041e41;
$yellow: #dfc900;
$red: #da281c;
$dark-red: #b62117;

$white: #fff;

$lightest-grey: #f8f8f8;
$light-grey: #f1f1f1;
$grey: #a7a7a7;
$dark-grey: #bebebe;
$darkest-grey: #979797;

$black: #111;


$link: $light-blue;
$text: $darkest-grey;
$strong: darken($text, 10%);

$brand: $light-blue;


// Type
// -------------------------



$serif: 'Libre Baskerville', serif;
$sans-serif: avenir, 'Nunito', sans-serif;
$display: edosz;
$header: 'Chau Philomene One', sans-serif, gillsans;

$light: 300;
$book: 400;
$medium: 500;
$semi: 600;
$heavy: 700;
$extra: 800;
$em-base: 16px;
