// Modules and Variables
@import 'vendors/bourbon/bourbon';

// Utils
@import 'utils/variables';
@import 'utils/mixens';
@import 'utils/responsive';

// Partials

@import 'base/normalize';
@import 'base/animations';
@import 'base/base';

// Layout
@import 'layout/header';
@import 'layout/footer';
//@import 'layout/main';
@import 'layout/catering';
@import 'layout/about';
@import 'layout/press';
@import 'layout/contact';
@import 'layout/hero';
@import 'layout/schedule';
@import 'layout/items';

// Componants
@import 'components/article_body';
@import 'components/fonts';
@import 'components/slide_menu';
@import 'components/status';
@import 'components/share';
@import 'components/social';


// Pages

//@import 'pages/';
