$body-text: $sans-serif;
$header-text:  $sans-serif;
$header-text-color: $brand;

$del: #cdb7b5;
$ins: #b6c5be;

$border: lighten($grey, 30%);

.article-content {
  @include hyphens(auto);
  word-wrap: break-word;
  font-family: $body-text;
  font-size: em(14);
  color: $text;
  line-height: em(25);



  h1,
  h2,
  h3,
  h5,
  h6 {
    clear: both;
    margin: 0 0 24px;
    text-align: left;
    font-family: $header-text;
    color: $header-text-color;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: $heavy;

  }

  h1 { font-size: 1.5em; }

  h2 { font-size: 1em; }

  h3 { font-size: em(12); }

  h5 { font-size: em(10); }

  h6 { font-size: em(8); }


  h4 {
    font-family: $body-text;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;

    &::before,
    &::after {
      background-color: $text;
      content: '';
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: inherit;
      width: 50%;
      bottom: .3em;
    }

    &::before {
      right: 2em;
      margin-left: -50%;
    }

    &::after {
      left: 2em;
      margin-right: -50%;
    }

  }

  b,
  strong {
    font-family: $body-text;
    color: $strong;
  }

  address {
    font-family: $body-text;
    font-style: italic;
    font-weight: normal;
  }

  a {
    @include linkcolor($link, darken);
    @include background-image(linear-gradient(to bottom, rgba($black, 0) 50%, rgba($black, .2) 50%));
    text-decoration: none;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 em(16);
    font-weight: bold;
    text-shadow: 2px 1px rgba($white, .1), -1px 1px rgba($white, .1);
  }

  abbr[title],
  acronym {
    border-bottom: 1px dotted $brand;
    cursor: help;
  }

  cite {
    color: $grey;
    font-size: em(14);
    padding-left: .5em;
  }

  code,
  kbd,
  tt,
  var,
  samp,
  pre {
    @include hyphens(none);
    font-family: monospace, serif;
    color: $strong;
  }

  del,
  strike {
    color: $del;
  }

  dfn,
  em,
  i {
    font-style: italic;
  }

  em {
    color: $strong;
  }

  ins,
  mark {
    color: darken($ins, 50%);
    background: $ins;
  }

  pre {
    box-sizing: border-box;
    background: lighten($border, 24%);
    padding: 1em 2em;
    margin-bottom: 24px;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  p {
    margin-bottom: 1.5em;
  }

  small {
    font-size: smaller;
  }

  big {
    font-size: 125%;
  }

  sup,
  sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    bottom: 1ex;
  }

  sub {
    top: .5ex;
  }

  img {
    @include image-rendering(optimizeSpeed);
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  figure {
    margin: 0;
  }

  fieldset {
    border: 1px solid rgba($black, .1);
    margin: 0 0 24px;
    padding: 11px 12px 0;
  }

  legend {
    white-space: normal;
  }

  hr {
    background-color: $grey;
    border: 0;
    height: 1px;
    margin-bottom: 23px;
  }

  embed,
  iframe,
  object,
  video {
    margin-bottom: 2em;
    width: 100%;
  }

  p > embed,
  p > iframe,
  p > object,
  span > embed,
  span > iframe,
  span > object {
    margin-bottom: 0;
  }

//BlockQuote

  blockquote,
  q {
    @include hyphens(none);
    quotes: none;
    text-align: center;
    color: $strong;
    font-size: em(30);
    font-style: normal;
    margin: 0;
    padding: 1em 2em;
    font-weight: $light;
    line-height: 32px;
    letter-spacing: 2px;

    cite,
    small {
      color: $text;
      font-size: em(10);
      display: block;
      margin-top: .5em;
      padding: 0;
    }

    em,
    i,
    cite {
      font-style: normal;
    }

    strong,
    b {
      font-weight: 400;
    }

  }

//Tables

  table {
    margin-bottom: 2em;
    width: 100%;
    color: darken($text, 10%);
    border: 1px solid lighten($border, 20%);
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    }

  th,
  td {
    border: 1px solid lighten($border, 20%);
    font-size: 1em;
  }

  caption,
  th,
  td {
    font-weight: normal;
    text-align: left;
    padding: .5em .8em;
  }

  th { border-width: 0 1px 1px 0; }

  td { border-width: 0 1px 1px 0; }

  thead th {
    color: $strong;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.6em;
    text-align: center;
  }

  tbody th {
    font-size: 1em;
    text-align: right;
  }

  tbody tr:nth-of-type(even) {
    background-color: lighten($border, 30%);
  }



//Definition Lists

  dl {
    margin-bottom: 48px;
  }

  dt {
    color: $strong;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.6em;
  }

  dd {
    margin-bottom: 1em;
  }

// Unordered Lists

  ul {
    margin: 0; padding: 0;
    list-style: square inside;
    font-size: 1em;
    margin-bottom: 48px;

    li {
      margin: 0 0 .2em;
    }

    ul {
      margin: 0 0 .5em 3em;
      list-style: disc;

      ul {
        list-style: circle;
      }
    }
  }


// Ordered Lists

  ol {

    margin: 0; padding: 0;
    list-style: decimal-leading-zero inside;
    font-size: 1em;
    margin-bottom: 48px;

    li { margin: 0 0 .2em; }

    ol { margin: 0 0 .5em 3em;  list-style: lower-roman;

      ol { list-style: lower-alpha; }
    }
  }


//WP Images

  .alignnone {
    @include alignment(relative, horizontal);
  }


  .alignleft {
    float: left;
    margin: 0 1.5em 0 0;
    max-width: 50%;
  }

  .alignright {
    float: right;
    margin: 0 0 0 1.5em;
    max-width: 50%;
  }

  .aligncenter {
    @include alignment(relative, horizontal);
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption-text {
    @include hyphens(none);
    quotes: none;
    color: rgba($grey, .44);
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.6em;
    margin: .5em 0 1em;
    display: block;
  }

  .double-img {
    @include justifyed;
    display: block;
    overflow: auto;

    .col {
      display: inline-block;
      width: 48%;
      vertical-align: top;
      margin-bottom: 4%;
    }
  }

}

.wp-smiley {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
