

.social {
  background-image: url('img/raster/compressed/social-bg.jpg');
  padding: 18px 0 0;


  >.wrapper {
    //@include test;
    @include justifyed;
  }


  .instagram-wrapper {
    @include justifyed;
  }

  .twitter-wrapper {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex-flow(wrap);
    //@include test;
    font-size: 18px;

    &.post {

      @include break($max: 400px) {
        display: none;
      }
    }
  }

  .social-post {
    //@include flex(1);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    border: solid 3px $white;
    color: $white;
    background-color: rgba(shade($red, 50%), .5);
    margin-bottom: 2%;

    @include breakpoint($xs) {
      width: 31.9%;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      vertical-align: middle;
    }

    svg {
      @include size(14px);
      margin-left: 6px;
      vertical-align: middle;
    }

    &.instagram {
      svg {
        @include position(absolute, null 12px 12px null);
      }
    }

    &.twitter {
      width: 100%;
      padding: 18px;
      overflow: hidden;

      @include breakpoint($md-up) {
        width: 49%;
      }


      .media {
        @include size(100px);
        margin-right: 12px;
      }

      .twitter-avatar {
        @include size(24px);
        margin-right: 6px;
      }

      .twitter-user {
        display: block;
        margin-top: 18px;
        font-size: 14px;
      }

      .twitter-link {
        @include position(absolute, null 12px 19px null);
        display: block;
        font-size: 12px;
      }

      a {
        @include linkcolor($white);
      }

      .twitter-content {
        //@include test;
        vertical-align: middle;
        display: inline-block;
        text-align: left;
        margin: 0;
        width: 100%;
      }

      p {
        font-size: 18px;
        letter-spacing: .87px;
        color: $white;
        font-weight: $medium;
        line-height: 20px;
        display: block;
        margin: 0;
      }

      &.hasmedia .twitter-content {
        @include calc(width, '100% - 124px');
      }

    } //twitter

  } //social-post

} //social
