@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}


@include keyframes(sunBody) {
  0% {
    @include transform(scale(.95) rotate(0deg));
  }

  50% {
    @include transform(scale(1) rotate(180deg));
  }

  100% {
    @include transform(scale(.95) rotate(360deg));
  }

}

@include keyframes(sunEyes) {
  0% {
    @include transform(scale(.5) translateY(50px));
  }

  6% {
    @include transform(scale(1) translateY(-7px));
  }

  9% {
    @include transform(scale(1) translateY(0));
  }

  98% {
    @include transform(scale(1) translateY(0));
  }

  98.5% {
    @include transform(scale(1) translateY(0) rotateX(93deg));
  }

  100% {
    @include transform(scale(1) translateY(0) rotateX(0));
  }


}

@include keyframes(sunPop) {
  0% {
    @include transform(translateY(150px));
  }

  100% {
    @include transform(translateY(10px));
  }

}



@include keyframes(loadingSpin) {
  0% {
    @include transform(scale(.8) rotate(0deg));
  }

  50% {
    @include transform(scale(1) rotate(180deg));
  }

  100% {
    @include transform(scale(.8) rotate(360deg));
  }

}
