body {
  @include transition (all .2s ease-in-out);
  background-color: $white;
  color: $text;
  font-family: $sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;


  &::after {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    display: block;

    @include breakpoint($xs) {
      content: 'xs';
      background: $light-blue;
    }

    @include breakpoint($sm) {
      content: 'sm';
      background: $black;
    }

    @include breakpoint($md) {
      content: 'md';
      background: $dark-blue;
    }

    @include breakpoint($lg) {
      content: 'lg';
      background: $red;
    }

    @include breakpoint($xl) {
      content: 'xl';
      background: $dark-red;
    }

  }
}

.wrapper {
  max-width: 1178px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

.sprite-hide {
  width: 0;
  height: 0;
  visibility: hidden;
}

img {
  max-width: 100%;
}

a {
  @include linkcolor($link, darken);
  text-decoration: none;
}

%pill {
  @include transition (all .2s ease-in-out);
  display: inline-block;
  color: $white;
  background-color: $red;
  padding: .6em 4em;
  letter-spacing: .1em;
  border-radius: 40px;
  cursor: pointer;
  font-family: $header;
  text-transform: uppercase;
  position: relative;

  .loading {
    //@include test;
    display: inline-block;
    position: absolute;
    //right: 15px;
    margin-top: -2px;

    svg {
      @include size(18px);
      @include transform-origin(center center);
      @include animation(loadingSpin 700ms ease-in-out 50);
      fill: currentColor;
    }
  } // Loading
}

%red-pill {
  color: $white;
  background: $red;

  &:hover {
    background: $white;
    color: $red;
  }

}

%blue-pill {
  color: $white;
  background: $dark-blue;

  &:hover {
    background: $white;
    color: $dark-blue;
  }

}









